@using MvcTicariOtomasyon.Models.Concrete
@model List<SalesReport>

@{
    ViewBag.Title = "DepartmentEmployeeSales";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Departman Personel Satış</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"> Personel Adı : @ViewBag.dpers </li>
</ol>

<table class="table table-bordered table-hover table-dark">
    <tr>
        <th>Id</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Adet</th>
        <th>Fiyat</th>
        <th>Toplam</th>
        <th>Tarih</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SalesReportID</td>
            <td>@item.Product.ProductName</td>
            <td>@item.Current.CurrentFirstName @item.Current.CurrentLastName</td>
            <td>@item.Piece</td>
            <td>@item.Price</td>
            <td>@item.Total</td>
            <td>@item.SalesDate</td>
            <td><a href="#" class="btn btn-primary" style="background-color:dodgerblue">Yazdır</a></td>
        </tr>
    }
</table>
