@using MvcTicariOtomasyon.Models.Concrete
@model List<Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered table-hover table-dark">
    <thead>
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Görsel</th>
            <th>Departman</th>
            <th>Güncelle</th>
            <th>Satışlar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmployeeID</td>
                <td>@item.EmployeeFirstName</td>
                <td>@item.EmployeeLastName</td>
                <td>@item.EmployeeImage</td>
                <td>@item.Department.DepartmentName</td>
                <td><a href="/Employee/GetEmployee/@item.EmployeeID" class="btn btn-warning" style="color: black">Güncelle</a></td>
                <td><a href="/Department/DepartmentEmployeeSales/@item.EmployeeID" class="btn btn-primary" style="background-color:navajowhite; color:black">Detaylar</a></td>
            </tr>
        }
    </tbody>
</table>
<br />
<a class="btn btn-outline-info" href="/Employee/AddEmployee" style="color:black">Personel Ekle</a>

