@model MvcTicariOtomasyon.Models.Concrete.Invoice

@{
    ViewBag.Title = "AddInvoice";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Fatura Girişi</h2>
<br />
<form method="post" class="form-group">
    @Html.Label("Fatura Seri No")
    @Html.TextBoxFor(x => x.InvoiceSerialNumber, new { @class = "form-control" })
    <br />
    @Html.Label("Fatura Sıra No")
    @Html.TextBoxFor(x => x.InvoiceRowNumber, new { @class = "form-control" })
    <br />
    @Html.Label("Vergi Dairesi")
    @Html.TextBoxFor(x => x.TaxAdministration, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.InvoiceDate, new { @class = "form-control" })
    <br />
    @Html.Label("Saat")
    @Html.TextBoxFor(x => x.TaxTime, new { @class = "form-control" })
    <br />
    @Html.Label("Teslim Eden")
    @Html.TextBoxFor(x => x.Receiver, new { @class = "form-control" })
    <br />
    @Html.Label("Teslim Alan")
    @Html.TextBoxFor(x => x.Submitter, new { @class = "form-control" })
    <br />
    <button class="btn btn-info" type="submit">Kaydet</button>
</form>
